{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Music Add
{% endblock %}

{% block body %}
    <h3>Add a track</h3>

    <hr>

    {#<form method="post" action="{{ path('admin_addsimonmusic') }}">

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-music" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Track Name" name="name" required>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <input type="date" class="form-control" name="date" placeholder="Date of publication (d-m-Y)" required value="{{ "now"|date("d-m-Y") }}">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-4">
                <label for="fileWav"><i class="fa fa-file-audio-o" aria-hidden="true"></i> Wav file</label>
                <div class="input-group" id="fileWav">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" name="fileWav" class="form-control" >
                    </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>

            <div class="col-lg-4">
                <label for="fileMp3"><i class="fa fa-file-audio-o" aria-hidden="true"></i> Mp3 file</label>
                <div class="input-group" id="fileMp3">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" name="fileMp3">
                    </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>

            <div class="col-lg-4">
                <label for="fileImg"><i class="fa fa-file-image-o" aria-hidden="true"></i> Image file</label>
                <div class="input-group" id="fileImg">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" name="fileImg">
                    </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>


            <input class="form-control" name="userfile" type="file" />


        <hr>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Link Site" name="linkSite" value="soundcloud">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>
                    <input type="url" class="form-control" name="linkUrl" placeholder="Link URL">
                </div>
            </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Valider</button>
    </form>#}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function() {

            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                            log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                        input.val(log);
                    } else {
                        if( log ) alert(log);
                    }

                });
            });

        });
    </script>
{% endblock %}