{# src/XbrosBundle/Resources/views/simon-music.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Music
{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('audioplayer/js/mediaelement-and-player.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('audioplayer/css/style.css') }}" media="screen">

    <style>
        tbody tr
        {
            cursor: pointer;
        }

        .audio-player, .multiple-buttons
        {
            display: inline-block;
            vertical-align: middle;
        }

        .multiple-buttons
        {
            margin-left: 20px;
        }

        #errors
        {
            padding-top: 30px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">

        <div id="errors">
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>

        <h1>Simon music</h1>

        <a class="btn btn-default" href="https://soundcloud.com/simon-todeschini" target="_blank"><i class="fa fa-soundcloud"></i> SoundCloud</a>
        <a class="btn btn-default" href="https://www.paypal.me/SimonTodeschini/" target="_blank"><i class="fa fa-cc-paypal"></i> Donation - PayPal</a>

        <hr>

        {# if session.login is defined }
            <a class="btn btn-default" href="{{ path('admin_editsimonmusic') }}"><i class="fa fa-cogs" aria-hidden="true"></i> Editer cette page</a>

            <hr>
        {% endif #}

        {% if track_playing is not empty %}
            <h3>Track Playing</h3>


            <div class="audio-player">
                <h1>{{ track_playing.name }}</h1>
                <img class="cover" src="{{ asset(track_playing.pathImg) }}" alt="">
                <audio id="audio-player" src="{{ asset(track_playing.pathMp3) }}" type="audio/mp3" controls="controls"></audio>
            </div>

            <div class="multiple-buttons">
                {% if track_playing.linkSite == "soundcloud" %}
                    <a class="btn btn-default" href="{{ track_playing.linkUrl }}" target="_blank"><i class="fa fa-soundcloud"></i> {{ track_playing.name }}</a>
                {% else %}
                    <a class="btn btn-default" href="{{ track_playing.linkUrl }}" target="_blank"><i class="fa fa-external-link"></i> {{ track_playing.name }}</a>
                {% endif %}

                {% if track_playing.pathWav is not null %}
                    <a class="btn btn-default" href="{{ asset(track_playing.pathWav) }}" download="{{ track_playing.name }}.wav" ><i class="fa fa-file-audio-o"></i> wav Download</a>
                {% endif %}

                {% if track_playing.pathMp3 is not null %}
                    <a class="btn btn-default" href="{{ asset(track_playing.pathMp3) }}" download="{{ track_playing.name }}.mp3" ><i class="fa fa-file-audio-o"></i> mp3 Download</a>
                {% endif %}
            </div>


            <hr>
        {% endif %}

        {% if tracks is not empty %}
            <h3>Track List</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Cover</th>
                    <th>Track Name</th>
                    <th>Date of publication</th>
                    {% if session.login is defined %}
                    <th>Options</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for track in tracks %}
                    <tr class="clickable-row" data-href="{{ path('xbros_simonmusic', {'track' : track.name}) }}">
                        <td><img src="{{ asset(track.pathImg) }}" alt="cover-{{ track.name }}"></td>
                        <td>{{ track.name }}</td>
                        <td>{{ track.date|date("d-m-Y") }}</td>
                        {% if session.login is defined %}
                            <td><a class="btn btn-default" href="{{ path('admin_editsimonmusic', {'track' : track.name}) }}"><i class="fa fa-cogs" aria-hidden="true"></i> Editer cette track</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });

        $(document).ready(function() {
            $('#audio-player').mediaelementplayer({
                alwaysShowControls: true,
                features: ['playpause','volume','progress'],
                audioVolume: 'horizontal',
                audioWidth: 400,
                audioHeight: 95
            });
        });
    </script>
{% endblock %}
