{# src/XbrosBundle/Resources/views/simon-music.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Music
{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('audioplayer/js/mediaelement-and-player.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('audioplayer/css/style.css') }}" media="screen">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Simon music</h1>

        <a class="btn btn-default" href="https://soundcloud.com/simon-todeschini" target="_blank"><i class="fa fa-soundcloud"></i> SoundCloud</a>
        <a class="btn btn-default" href="https://www.paypal.me/SimonTodeschini/" target="_blank"><i class="fa fa-cc-paypal"></i> Donation - PayPal</a>

        <hr>

        {% if track_playing is not empty %}
            <h3>Track Playing</h3>

            <div class="audio-player">
                <h1>track_playing.name</h1>
                <img class="cover" src="{{ asset(track_playing.pathImg) }}" alt="">
                <audio id="audio-player" src="{{ asset(track_playing.pathMp3) }}" type="audio/mp3" controls="controls"></audio>
            </div>

            <hr>
        {% endif %}

        {% if tracks is not empty %}
            <h3>Track List</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Cover</th>
                    <th>Track Name</th>
                    <th>Date of publication</th>
                </tr>
                </thead>
                <tbody>
                {% for track in tracks %}
                    <tr class="clickable-row" data-href="{{ path('xbros_simonmusic', {'track' : track.name}) }}">
                        <td><img src="{{ asset(track.pathImg) }}" alt="cover-{{ track.name }}"></td>
                        <td>{{ track.name }}</td>
                        <td>{{ track.date|date("d/m/Y") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });

        $(document).ready(function() {
            $('#audio-player').mediaelementplayer({
                alwaysShowControls: true,
                features: ['playpause','volume','progress'],
                audioVolume: 'horizontal',
                audioWidth: 400,
                audioHeight: 95
            });
        });
    </script>
{% endblock %}
