{# src/XbrosBundle/Resources/views/simon-music.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Music
{% endblock %}

{% block head %}
    {{ parent() }}
    {#<script src="{{ asset('audioplayer/js/mediaelement-and-player.min.js') }}"></script>#}
    {# Note: asset() link vers ce qui est dans web #}
    {#<link rel="stylesheet" href="{{ asset('audioplayer/css/style.css') }}" media="screen">#}

    <script type="text/javascript" src="{{ asset('jPlayer/dist/jplayer/jquery.jplayer.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('jPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.css') }}">
    {% if track_playing is not empty %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#jquery_jplayer_1").jPlayer({
                    ready: function () {
                        $(this).jPlayer("setMedia", {
                            title: "{{ track_playing.name }}",
                            mp3: "{{ asset('simon-music/'~track_playing.pathMp3) }}",
                        });
                    },
                    cssSelectorAncestor: "#jp_container_1",
                    swfPath: "{{ asset('jPlayer/dist/jplayer/') }}",
                    supplied: "mp3",
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true,
                    remainingDuration: true,
                    toggleDuration: true
                });
            });
        </script>
    {% endif %}


    <style>
        tbody tr
        {
            cursor: pointer;
        }

        .audio-player, .multiple-buttons
        {
            display: inline-block;
            vertical-align: middle;
        }

        .multiple-buttons
        {
            margin-left: 20px;
        }

        tr img, .jp-cover img {
            max-height: 90px;
        }

        .jp-cover {
            background-color: #CCCCCC;
            text-align: center;
        }

        .jp-cover .cover {
            margin: 10px 0;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="container">

        <h1>Simon music</h1>

        <a class="btn btn-default" href="https://soundcloud.com/simon-todeschini" target="_blank"><i class="fa fa-soundcloud"></i> SoundCloud</a>
        <a class="btn btn-default" href="https://www.paypal.me/SimonTodeschini/" target="_blank"><i class="fa fa-cc-paypal"></i> Donation - PayPal</a>

        <hr>

        {% if session.login is defined %}
            <a class="btn btn-default" href="{{ path('admin_addsimonmusic') }}"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Ajouter un son</a>

            <hr>
        {% endif %}

        {% if track_playing is not empty %}
            <h1>Track Playing - {{ track_playing.name }}</h1>

            <div class="audio-player">
                <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                    <div class="jp-type-single">
                        <div class="jp-cover">
                            <img class="cover" src="{{ asset('simon-music/'~track_playing.pathImg) }}" alt="">
                        </div>
                        <div class="jp-gui jp-interface">
                            <div class="jp-controls">
                                <button class="jp-play" role="button" tabindex="0">play</button>
                                <button class="jp-stop" role="button" tabindex="0">stop</button>
                            </div>
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                </div>
                            </div>
                            <div class="jp-volume-controls">
                                <button class="jp-mute" role="button" tabindex="0">mute</button>
                                <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                            </div>
                            <div class="jp-time-holder">
                                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                            </div>
                        </div>
                        <div class="jp-details">
                            <div class="jp-title" aria-label="title">&nbsp;</div>
                        </div>
                        <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                        </div>
                    </div>
                </div>
            </div>


            <div class="multiple-buttons">
                {% if track_playing.linkSite == "soundcloud" %}
                    <a class="btn btn-default" href="{{ track_playing.linkUrl }}" target="_blank"><i class="fa fa-soundcloud"></i> {{ track_playing.name }}</a>
                {% elseif track_playing.linkSite is not null %}
                    <a class="btn btn-default" href="{{ track_playing.linkUrl }}" target="_blank"><i class="fa fa-external-link"></i> {{ track_playing.name }}</a>
                {% endif %}

                {% if track_playing.pathMp3 is not null %}
                    <a class="btn btn-default" href="{{ asset('simon-music/'~track_playing.pathMp3) }}" download="{{ track_playing.name }}.mp3" ><i class="fa fa-file-audio-o"></i> mp3 Download</a>
                {% endif %}
            </div>


            <hr>
        {% endif %}

        {% if tracks is not empty %}
            <h3>Track List</h3>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Cover</th>
                    <th>Track Name</th>
                    <th>Date of publication</th>
                    {% if session.login is defined %}
                        <th>Options</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for track in tracks %}
                    <tr class="clickable-row" data-href="{{ path('xbros_simonmusic', {'track' : track.name}) }}">
                        <td><img src="{{ asset('simon-music/'~track.pathImg) }}" alt="cover-{{ track.name }}"></td>
                        <td>{{ track.name }}</td>
                        <td>{{ track.date|date("d-m-Y") }}</td>
                        {% if session.login is defined %}
                            <td><a class="btn btn-default" href="{{ path('admin_editsimonmusic', {'track' : track.name}) }}"><i class="fa fa-cogs" aria-hidden="true"></i> Editer cette track</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}
